.choices {
  box-sizing: border-box;
  @include input-style;
  padding-right: 50px;
  transition: border-color .3s ease;

  .choices__inner {
    max-height: 44px;
    border: none;
    border-radius: 7px;
    background-color: $color-white;
    font-size: 16px;
    line-height: 24px;
  }

  .choices__list--single {
    padding: 0;
  }

  .is-selected {
    position: relative;
  }

  .is-selected::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 16px;
    width: 24px;
    height: 24px;
    background: no-repeat url('/src/assets/icons/icon-checked-select-item.svg') center right / 24px;
  }
}

.choices:focus-visible {
  border-color: $color-primary;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding-right: 0;
}