.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form {
  .page-title {
    margin-bottom: 35px;
  }

  &__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px 85px 50px 115px;
    border-radius: 50px;
    background-color: $color-grey_7;
  }

  &__title {
    @include reset;

    font-family: 'WorkSans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.02em;
  }


  &__label {
    position: relative;
  }

  &__label:not(:last-child) {
    margin-bottom: 25px;
  }

  &__label:last-child {
    margin-bottom: 30px;
  }

  &__label-text {
    position: absolute;
    bottom: 50%;
    right: calc(100% + 18px);
    transform: translateY(50%);
    white-space: nowrap;
    font-family: 'Ubuntu';
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
  }

  &-control {
    @include input-style;
    width: 300px;
    padding: 10px 16px 10px 16px;
  }

  .button {
    align-self: start;
  }
}

.form--transfer {
  .form__wrap {
    padding: 25px 50px;
    align-items: flex-end;
    row-gap: 25px;
  }

  .form__title {
    align-self: flex-start;
  }

  .form__label {
    display: flex;
    align-items: center;
    column-gap: 18px;
    margin-bottom: 0;
  }

  .form__label-text {
    position: static;
    transform: none;
  }

  .button {
    margin-left: 206px;
  }
}

.form--currencies-buy {
  .form__wrap {
    flex-direction: row;
    column-gap: 25px;
    flex-wrap: nowrap;
    padding: 0;
    border-radius: 0;
    background-color: $color-white;
  }

  .form__side {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 25px;
  }

  .form__side--left {
    display: block;
    width: 100%;
    align-self: stretch;
  }

  .form__label {
    display: flex;
    align-items: center;
    column-gap: 20px;
    margin-bottom: 0;
  }

  .form__label:last-child {
    column-gap: 8px;
  }

  .form__label-text {
    position: static;
    transform: none;
  }

  .button {
    display: inline-block;
    padding-left: 13px;
    padding-right: 13px;
    width: 100%;
    height: 100%;
  }

  .choices {
    width: 134px;
    padding-right: 0;

    &__inner {
      border: none;
      border-radius: 7px;
      background-color: $color-white;
    }
  }
}