$color-primary: #116acc;

$color-secondary_1: #182233;
$color-secondary_2: #b3cee2;
$color-secondary_3: #d9dde7;
$color-secondary_4: #fd4e5d;

$color-black: #000000;
$color-white: #ffffff;

$color-grey: #777;

$color-grey_1: #1F2937;
$color-grey_2: #374151;
$color-grey_3: #4B5563;
$color-grey_4: #6B7280;
$color-grey_5: #9CA3AF;
$color-grey_6: #D1D5DB;
$color-grey_7: #F3F4F6;

$color-info: #a0c3ff;
$color-success: #76ca66;
$color-warning: #fbc756;
$color-error: #ba0000;